body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    300deg,
    rgb(134, 1, 125) 3%,
    rgb(59, 153, 247) 38%,
    rgb(96, 251, 241) 68%,
    rgb(255, 0, 0) 98%
  );
  background-size: 500% 500%;
  background-attachment: fixed;
  animation: bg-gradient 30s ease infinite;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
  padding: 0;
}

@keyframes bg-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* .bg-wave {
  position: fixed;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 100% 100% 0 0;
  width: 200%;
  height: 15em;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.bg-wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear infinite;
}

.bg-wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(0);
  }
} */
